body{
    background-color: #f6f2f2;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aqua;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: blueviolet;
}